{% extends 'base.html.twig' %}



{% block body %}
<div class="container carrou">
    <div id="carouselExampleAutoplaying" class="carousel slide carousel-fade z-2" data-bs-ride="carousel">
        <div class="z-3 position-absolute w-100 d-inline-flex justify-content-between p-3" role="toolbar">
            <div>
                <button class="btn btn-outline-primary bg-primary bg-opacity-25 text-white" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">Produit precedent</button>
            </div>
            <div>
                <button class="btn btn-outline-primary bg-primary bg-opacity-25 text-white" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">Produit suivant</button>
            </div>
        </div>
        <div class="carousel-inner">
            {% for product in lastProducts %}
            {% set counter = ( counter | default(0) ) + 1 %}
            {% if counter == 1 %}
            <div class="carousel-item active">
                {% else %}
                <div class="carousel-item">
                    {% endif %}
                    <img src="{{ asset('uploads/products/' ~ product.image) }}" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block textCaroussel ">
                        <div class="text-bg-light p-3 bg-opacity-50 rounded">
                            <h5>{{ product.name }}</h5>
                            <h4>{{ product.price }} €</h4>
                            <p>{{ product.resume|length > 30 ? product.resume|striptags()| raw|slice(0,30)~'...' : product.resume|striptags()| raw }}</p>
                            <a href="{{ path('app_product_show', {'id': product.id}) }}" class="btn btn-primary">Voir le produit</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endblock %}
